numpy~=1.26.3
matplotlib~=3.5.3
loguru~=0.7.2
click~=8.1.7
scikit-image~=0.20.0
setuptools~=68.2.2
pillow~=10.2.0
scipy~=1.11.4
# openslide-python
# openslide-bin
# ruamel-yaml

czifile~=2019.7.2
imma~=0.18.5
opencv-python~=4.9.0.80
tqdm~=4.66.2
requests~=2.31.0
